@import '../../styles/variaveis';
@import "../../styles/breakpoints";

.crescente {
  // order: 2;
  // width: 20%;
  align-items: center;
  background-color: $grey;
  border: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  height: 40px;
  justify-content: space-between;
  min-width: 40px;
  padding: 0 20px;
  position: relative;
}