@import '../styles/variaveis';
@import '../styles/breakpoints';

.menu {
    padding: 20px $padding-horizontal;
    position: relative;
    @media (max-width: $desktop_xsm) {
      padding: 20px $padding-horizontal-mobile;
    }
    @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
      padding: 20px $padding-horizontal-sm;
    }
    @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
      padding: 20px $padding-horizontal-md;
    }
  }
  
  .header {
    align-items: center;
    background-image: url("/assets/cardapio/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 300px;
    padding: 0px $padding-horizontal;
    @media (max-width: $desktop_xsm) {
      padding: 0px $padding-horizontal-mobile;
    }
    @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
      padding: 0px $padding-horizontal-sm;
    }
    @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
      padding: 0px $padding-horizontal-md;
    }
    &__text {
      color: white;
      font-size: 3rem;
      min-width: 400px;
      width: 40%;
      font-family: 'Courier New', Courier, monospace;
    }
  }
  
  .cardapio {
    padding: 50px $padding-horizontal;
    @media (max-width: $desktop_xsm) {
      padding: 50px $padding-horizontal-mobile;
    }
    @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
      padding: 50px $padding-horizontal-sm;
    }
    @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
      padding: 50px $padding-horizontal-md;
    }
    &__titulo {
      color: $dark;
      font-size: 3rem;
      margin-bottom: 30px;
    }
    &__filtros {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 30px;
      width: 100%;
    }
  }

  .teste {
    display: flex;
    margin-left: 5px;
  }

  $button-size: 40px; // Tamanho do botão
$icon-size: 24px;   // Tamanho do ícone

.square_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $button-size;
  height: $button-size;
  background-color: #f6f6f6;
  border: none;
  border-radius: 50%; /* Isso cria um botão circular */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  background-color: #ffffff; /* Cor de fundo do botão */
  transition: transform 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.05); /* Efeito de escala no hover */
  }
  

  svg {
    width: $icon-size;
    height: $icon-size;
  }
}

.dark_button {
  position: absolute;
  bottom: 30px; /* Espaço a partir do final da página */
  right: 350px; /* Espaço a partir da borda direita */
}